html
    head
        title Flat Role
        link(rel="styleSheet", href="/css/site.css")
        link(rel="styleSheet", href="/css/bootstrap.css")
        link(rel="styleSheet", href="/vendor/toastr/toastr.css")
    body(ng-app='app')
        h1 INSIDE LAYOUT
        block main-content
        include scripts