html
    head
        link(rel="styleSheet", href="/css/site.css")
        link(rel="styleSheet", href="/css/bootstrap.css")
        link(rel="styleSheet", href="/vendor/toastr/toastr.css")
    body
        block main-content
        include scripts